body {
  margin-top: 50px;
  font-family: Raleway; }

#price {
  font-family: Montserrat;
  font-size: 20px; }

#icon {
  height: 36px;
  width: auto;
  padding-bottom: 28px;
  margin-left: 15px; }

#logo {
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat;
  height: 36px;
  width: 200px;
  padding-bottom: 28px; }

.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 66px; }

.icons {
  margin-left: 25px; }

ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 66px; }

li {
  margin: 0 25px 0 25px;
  list-style: none;
  padding-bottom: 28px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid white; }
  li:hover {
    border-bottom: 2px solid #B4A98C; }

a {
  color: black;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px; }

.container {
  max-width: 1120px;
  margin: auto auto; }

.top-belt {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6; }

.bottom-belt {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  min-height: 66px; }
  .bottom-belt li {
    padding-bottom: 0;
    border-bottom: none; }
    .bottom-belt li:hover {
      border-bottom: none; }
    .bottom-belt li a:hover {
      color: #B4A98C; }

.products {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.item {
  width: 250px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 15px;
  position: relative; }
  .item .button-allegro {
    z-index: 100;
    position: absolute;
    width: 190px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    top: 40%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .item .button-allegro .button-allegro_bg-color, .item .button-allegro .button-allegro_bg-img, .item .button-allegro .button-allegro_content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .item .button-allegro .button-allegro_bg-color {
      z-index: 102;
      background: rgba(0, 0, 0, 0.65); }
    .item .button-allegro .button-allegro_bg-img {
      z-index: 101;
      background-position: center center;
      -webkit-filter: blur(5px);
      filter: blur(5px); }
    .item .button-allegro .button-allegro_content {
      position: relative;
      z-index: 103;
      color: #B4A98C;
      opacity: 1 !important;
      font-size: 14px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .item .button-allegro img {
      width: 11px;
      height: auto;
      margin-left: 10px; }
    .item .button-allegro a {
      color: #B4A98C;
      opacity: 1 !important;
      font-size: 12px; }

.name {
  margin: 30px 0 10px;
  text-transform: uppercase;
  font-size: 14px; }

.price {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  color: #B4A98C; }
