doctype html
html
  head
    title Meduzza.pl
    link(rel='stylesheet', href='css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Raleway', rel='stylesheet')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='js/script.js')



  body
    .container
      .top-belt
        #logo
        .nav
          ul
            li
              a(href='#') Kobieta
            li
              a(href='#') Dziecko
            li
              a(href='#') Promocje
            li
              a(href='#') Kontakt
          .icons
            img#icon(src='assets/face.svg')
            img#icon(src='assets/insta.svg')
      .bottom-belt
        .list.list-0(style="display: none;")
          ul
            li
              a(href='#') Okrycia wierzchnie
            li
              a(href='#') Koszule
            li
              a(href='#') Sukienki
            li
              a(href='#') Swetry
        .list.list-1(style="display: none;")
          ul
            li
              a(href='#') Kategoria 1
            li
              a(href='#') Kategoria 2
            li
              a(href='#') Kategoria 3
            li
              a(href='#') Kategoria 4
            li
              a(href='#') Kategoria 5
            li
              a(href='#') Kategoria 6
            li
              a(href='#') Kategoria 7
            li
              a(href='#') Kategoria 8
        .list.list-2(style="display: none;")
          ul
            li
              a(href='#') Kategoria 1
            li
              a(href='#') Kategoria 2
            li
              a(href='#') Kategoria 3
            li
              a(href='#') Kategoria 4
            li
              a(href='#') Kategoria 5
            li
              a(href='#') Kategoria 6

      
      include includes/home.pug
        
              
    
        
